@tailwind base;
@tailwind components;
@tailwind utilities;

.bgblure{
    background-color: rgba(50, 50, 50, 0.422);
    backdrop-filter: blur(2px);
}
.bgblurenav{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

.cursive{
    font-family: 'Great Vibes', cursive;
}

.rot:hover .rotsub{
    transform: rotate(45deg) scale(1.1) translateX(2px);
    font-size: 21px;
}

.bgblurenavul{
    /* background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px); */
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
}

/* mobile screen */
@media (max-width: 768px) {
    .rot:hover .rotsub{
        transform: rotate(45deg) scale(1.1) translateX(4px);
        font-size: 18px;
    }
    .bgblurenav{
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(3px);
    }
}